<!DOCTYPE html>
<html lang="en">

{% assign title = site.data.information.records[0].fields.company-name %}
{% assign favicon = site.data.information.records[0].fields.logo[0].thumbnails.small.url %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }} | {{ title }} {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
  <link rel="icon" href='{{ favicon }}' type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i" rel="stylesheet">
</head>

<body>

