{% assign assess_link = site.data.information.records[0].fields.assessment-form %}

{% assign tracks_n = site.data.tracks.records %}
{% assign skills = site.data.skills.records %}
{% assign skills_type = skills | group_by: "fields.pillar-number" %}
{% assign sorted_pillars = skills_type | sort:"name" %}

<div class="skills-menu">
    {% for pillar in sorted_pillars %}
        <div class="skills-menu_pillar">
            <h5 class="skills-menu__header"><a href="#{{pillar.items[0].fields.pillar}}">{{pillar.items[0].fields.pillar}} Skills</a></h5>
            {% assign sorted_tracks = pillar.items | sort: "fields.track-number" %}
            {% assign tracks = sorted_tracks | group_by: "fields.track-name" %}
            <ul class="skills-menu__links">
                {% for track in tracks %}
                <li class="skills-menu__link"><a href="#{{track.items[0].fields.track}}">{{track.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
<div class="skills-list">
    {% for pillar in sorted_pillars %}
    <div class="pillar" id="{{pillar.items[0].fields.pillar}}">
        <h3 class="pillar-name pillar-name-{{pillar.items[0].fields.pillar}}">{{pillar.items[0].fields.pillar}} Skills</h3>
        

        {% assign sorted_tracks = pillar.items | sort: "fields.track-number" %}
        {% assign skill_tracks = sorted_tracks | group_by: "fields.track-name" %}
        
        {% for skill_track in skill_tracks %}

        <div class="skill skill-{{pillar.items[0].fields.pillar}}" id="{{skill_track.items[0].fields.track}}">
            <div class="name-holder skill-{{pillar.items[0].fields.pillar}}">
                <div class="name-holder__content">
                    <h4>{{ skill_track.name }}</h4>
                    <p>{{ skill_track.items[0].fields.track-description }}</p>
                </div>
                <p class="name-holder__top-link"><a href="#top">To top</a></p>
            </div>
            {% assign track_items = skill_track.items | sort: "fields.level-number" %}
            {% for track_level in track_items %}
            <div class="level">
                <h5 class="level__title">{{track_level.fields.name}}</h5>
                <p class="level__description">{{track_level.fields.description}}</p>
                <p class="level__behaviours-title">Example behaviours</p>
                <ul class="behaviours behaviours-{{pillar.items[0].fields.pillar}}">
                    {% if track_level.fields.behaviour-1 %} 
                    <li class="behaviour">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-1-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-1}}
                    </li>{% endif %}
                    {% if track_level.fields.behaviour-2 %} 
                    <li class="behaviour">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-2-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-2}}
                    </li>{% endif %}
                    {% if track_level.fields.behaviour-3 %} 
                    <li class="behaviour">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-3-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-3}}
                    </li>{% endif %}
                    {% if track_level.fields.behaviour-4 %} 
                    <li class="behaviour">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-4-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-4}}
                    </li>{% endif %}
                </ul>
            </div>
            {% endfor%}
        </div>
        {% endfor %}
        <!-- {{tracks}} -->
        {% for sorted_track in sorted_tracks %}
        <p>{{sorted_track.name }}</p>
        {% endfor %}
        <!-- {% assign tracks = sorted_tracks | group_by: "fields.track-name" %} -->
        <!-- {% for sorted_track in tracks %}
        <p>{{sorted_track.fields.name}}</p>
        {% endfor %} -->

    </div>
    {% endfor %}
</div>