@mixin button-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
}
  
@mixin button {
    @include button-reset;
    background-color: $button-color;
    color: white;
    font-size: $text-size-small;
    border-radius: 500px;
    text-decoration: none;
    &:active, &:hover, &:focus {
        background-color: darken($button-color, 5%);
    }
}

.btn {
    @include button;
    padding: 0.7rem 1rem;
    @include md {
        font-size: $text-size;
    }
}

.btn--small {
    @include button;
    padding: 0.3rem 0.6rem;
    font-size: $text-size-small;
    @include md {
        font-size: $text-size-small;
    }
}

.btn--white-shadow {
    @include button;
    color: $color-text;
    background-color: white;
    border: 1px solid $color-grey-light;
    box-shadow: $deep-shadow;
    border-radius: $border-radius/2;
    padding: 0.4rem 0.6rem;
}
  
.btn-text {
    @include button-reset;
    color: $link-color;
    font-size: $text-size;
    border-radius: 500px;
    padding: 0;
    text-decoration: none;
    &:active, &:hover, &:focus {
      color: darken($link-color, 10%);
    }
    @include md {
      font-size: $text-size;
    }
}
  
.btn-text--light {
    @include button-reset;
    color: $color-text-light;
    font-size: $text-size;
    border-radius: 500px;
    padding: 0;
    text-decoration: none;
    &:active, &:hover, &:focus {
      color: $color-brand-dark;
    }
    @include md {
        font-size: $text-size;
    }
}