footer {
    padding: 1rem;
    background-color: $footer-color;
    .footer__content {
        text-align: center;
        a {
            color: $color-text-light;
            text-decoration: underline;
        }
    }
}