.warning-banner {
    background-color: $color-warning;
    padding: 0.5rem;
    p {
        color: white;
        font-weight: 700;
        text-align: center;
    }
    @include lg {
        display: none;
    }

}
.form-holder {
    display: grid;
    grid-template-columns: 1fr;
    @include lg {
        grid-template-columns: 1fr 1fr;
    }
    .form-info {
        display: none;
        @include lg {
            display: block;
            padding: 1rem;
            border-right: 1px solid $color-grey-light;
            height: 100vh;
            overflow: scroll;
        }
        .skills-menu {
            margin: 1rem 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1rem;
            .skills-menu__pillar {
                .skills-menu__header {
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                }
                .skills-menu__links {
                    display: flex;
                    flex-direction: column;
                    .skills-menu__link {
                        padding-bottom: 0.3rem;
                        color: $color-text-light;
                        border-bottom: 1px solid $color-grey-light;
                    }
                }
            }
        }
        .skills-list {
            display: flex;
            flex-direction: column;
            border-top: 2px solid $color-grey-light;
            padding: 3rem 0;
            .pillar {
                margin-bottom: 3rem;
                .pillar-name {
                    &.pillar-name-Human {
                        color: $color-human;
                    }
                    &.pillar-name-Maker {
                        color: $color-maker;
                    }
                    &.pillar-name-Leader {
                        color: $color-leader;
                    }
                }
                .skill {
                    margin: 1rem 0;
                    padding: 1rem;
                    border-radius: $border-radius;
                    border: 2px solid $color-text-light;
                    &.skill-Human {
                        border: 2px solid $color-human;
                    }
                    &.skill-Maker {
                        border: 2px solid $color-maker;
                    }
                    &.skill-Leader {
                        border: 2px solid $color-leader;
                    }
                    .name-holder {
                        display: flex;
                        justify-content: space-between;
                        padding-bottom: 1rem;
                    }
                    .level {
                        padding: 1rem 0;
                        border-top: 2px solid $color-grey-light;
                        .level__title {
                            margin-bottom: 0.5rem;
                        }
                        .level__description {
                            font-size: $text-size-large;
                        }
                        .level__behaviours-title {
                            padding-top: 1rem;
                            opacity: 0.5;
                            text-transform: uppercase;
                            font-size: $text-size-small;
                            font-weight: 700;
                        }
                        .behaviours {
                            .behaviour {
                                padding: 0 0.5rem;
                                margin: 0.5rem 0;
                                border-left: 2px solid $color-grey-light;
                                font-size: $text-size;
                                font-style: italic;
                            }
                            &.behaviours-Human .behaviour {
                                border-left: 2px solid $color-human;
                            }
                            &.behaviours-Maker .behaviour {
                                border-left: 2px solid $color-maker;
                            }
                            &.behaviours-Leader .behaviour {
                                border-left: 2px solid $color-leader;
                            }
                        }
                    }
                }
            }
        }
    }
    .form-embed {
        iframe {
            overflow: scroll;
            min-height: 100vh !important;
        }
    }
}