.warning-banner {
    background-color: $color-warning;
    padding: 0.5rem;
    p {
        color: white;
        font-weight: 700;
        text-align: center;
    }
    @include lg {
        display: none;
    }

}
.form-holder {
    display: grid;
    grid-template-columns: 1fr;
    @include lg {
        grid-template-columns: 1fr 1fr;
    }
    .form-info {
        display: none;
        @include lg {
            display: block;
            padding: 1rem;
            border-right: 1px solid $color-grey-light;
            height: 100vh;
            overflow: scroll;
        }
    }
    .form-embed {
        iframe {
            overflow: scroll;
            min-height: 100vh !important;
        }
    }
}