.panel__item {
    .panel-item__heading {
    }
    .panel-item__scale {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
        .block {
            width: 19%;
            height: 0.5rem;
            border-radius: 0.5rem;
            background-color: $color-grey-light;

            &.block-filled {
                background-color: $color-brand;
            }
        }
    }
    .panel-item__scale-descriptor {
        margin-top: 0.3rem;
        color: $color-text-light;
        font-size: 14px;
    }
    .panel-item__avatar {
        width: 80px;
        padding-bottom: 80px;
        background-size: cover;
        background-position: center;
        border-radius: 500px;
        &.panel-item__avatar--small {
            width: 40px;
            padding-bottom: 40px;
        }
    }
}