.team-member-profile-section {
    position: relative;
    padding-top: 1.5rem;
    z-index: 1;
    &::before {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        background: $profile-background-color;
        height: 4rem;
        width: 100%;
        z-index: -1;
    }
    .profile-section {
        @include simple-section;
        padding-top: 0;
        display: grid;
        grid-auto-rows: auto;
        grid-column-gap: 1rem;
        justify-items: center;
        padding-bottom: 2rem;
        border-bottom: 1px solid $color-grey-light;
        @include md {
            padding-bottom: 2rem;
        }
        .profile-section__avatar__holder {
            background-color: $color-brand-dark;
            width: 5rem;
            border: 0.2rem solid $background-color;
            border-radius: 500px;
            overflow: hidden;
            .profile-section__avatar {
                padding-bottom: 5rem;
                background-size: cover;
                background-position: center;
           } 
        }
        .profile-section__details {
            text-align: center;
            .profile-section__title {
                font-size: $text-size-xlarge;
                margin-top: 0.5rem;
            }
            .profile-section__meta {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.5rem 0 1rem;
                .profile-section__role {
                    display: flex;
                    align-items: center;
                    p {
                        font-size: $text-size-large;
                        padding: 0 0.5rem;
                        display: flex;
                        span {
                            color: $color-brand;
                            display: flex;
                            align-items: center;
                            padding-right: 0.3rem;
                        }
                    } 
                }
                .profile-section__team {
                    font-size: $text-size;
                    margin-top: 0.3rem;
                    a {
                        margin: 0 0.2rem;
                    }
                }
            }
        }
        .profile-section__assessments {
            width: 100%;
            border-top: 1px solid $color-grey-light;
            padding: 1rem 0;
            text-align: center;
            .assessments_header {
                color: $color-text;
                font-size: $text-size;
            }
            .assessments_description {
                color: $color-text-light;
                font-size: $text-size-small;
            }
            .assessments {
                margin: 0.2rem 0;
                display: flex;
                justify-content: center;
                .assessment {
                    padding: 0.3rem 0.5rem;
                    border-radius: $border-radius/4;
                    background-color: $color-grey-light;
                    color: $color-text;
                    font-size: $text-size-small;
                    margin: 0.3rem;
                }
            }
            .assessments_empty-state {
                color: $color-text-light;
                padding: 0.5rem 0;
            }
        }
        .profile-section__cta {
            text-align: center;
            a {
                margin: 0 0.5rem;
            }
            @include md {
                display: flex;
            }
        }
    }
}