.sidebar {
    display: none;
    @include md {
        display: flex;
        flex-direction: column;
        font-size: $text-size-large;
        overflow: scroll;
        background-color: $sidebar-background-color;
        .sidebar__brand {
            height: 4rem;
            display: flex;
            min-height: 5rem;
            align-items: center;
            background-color: darken($sidebar-background-color, 20%);
            // border-bottom: 1px solid darken($sidebar-text-color, 70%);
            .sidebar__icon {
              display: flex;
              align-items: center;
              height: 1.8rem;
              img {
                max-height: 1.8rem;
                margin: 0 0.5rem 0 1rem;
              }
            }
            .sidebar__brand-content {
                font-weight: 400;
                display: none;
                @include sm {
                    display: inline;
                    span {
                        opacity: 0.7;
                    }
                }
                .brand__name {
                    color: $sidebar-text-color;
                }
                .brand__description {
                    color: $sidebar-text-color;
                    opacity: 0.5;
                }
            }
        }
        .sidebar-section {
            border-bottom: 1px solid darken($sidebar-text-color, 70%);
            padding: 1rem 0;
        }
        .sidebar-section-title {
            padding: 0 1rem;
            font-size: $text-size-large;
            a {
                color: $sidebar-text-color;
                display: flex;
                justify-content: space-between;
                align-items: center;
                svg {
                    height: 1rem;
                    width: 1rem;
                    opacity: 0.5;
                }
            }
        }
        .sidebar-section__list {
            padding-top: 0.5rem;
            .sidebar-section__link {
                padding: 0.2rem 1rem;
                a {
                    color: $sidebar-text-color;
                    font-size: $text-size;
                    opacity: 0.8;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    svg {
                        opacity: 0.5;
                    }
                }
                &.active {
                    background-color: darken($sidebar-background-color, 10%);
                    a {color: $sidebar-text-color}
                }
            }
            .sidebar-section__subheading {
                padding: 0.5rem 1rem 0;
                color: $sidebar-text-color;
                opacity: 0.4;
                text-transform: uppercase;
                font-weight:bold;
            }
        }
        .last-updated {
            padding: 1rem;
            font-size: $text-size;
            color: $sidebar-text-color;
            opacity: 0.4;
        }
        .sidebar__button-holder {
            display: grid;
            grid-auto-rows: auto;
            grid-row-gap: 0.5rem;
            padding: 1rem;
        }
    }
    @include print {
        display: none;
    }
}