.skills-menu__section {
    @include padded-card-section;
    .skills-menu__item {
        padding: 0 0 1rem 0;
        margin-bottom: 1rem;
        border-bottom: 1px solid $color-grey-light;
    }
}