.team-member-section {
    @include simple-section;
    margin: 0 0 1rem 0;
    padding: 1rem;

    .pillar__title {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .pillar__items {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
        @include md {
            grid-template-columns: repeat(2, 1fr);
        }
        @include lg {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .pillar__item {
        border: 2px solid $color-grey-light;
        background-color: white;
        padding: 1rem;
        border-radius: 6px;
        margin-bottom: 0.5rem;
        display: grid;
        grid-template-rows: 1fr auto;
        box-shadow: none;
        transition: 0.1s all linear;
        cursor: pointer;
        &:hover {
            box-shadow: $deep-shadow;
        }
        .pillar-item__info {
            position: relative;
            .pillar-item__heading {
            }
            .pillar-item__description {
                margin-top: 0.3rem;
                margin-bottom: 1rem;
                padding-bottom: 0.5rem;
                font-size: $text-size-small;
            }
        }
        .pillar-item__scale-holder {
            border-top: 1px solid $color-grey-light;
            .pillar-item__scale {
                display: flex;
                justify-content: space-between;
                margin-top: 0.5rem;
                .block {
                    height: 0.5rem;
                    border-radius: 0.5rem;
                    background-color: $color-grey-light;
                    &.block-1 {width: 39%;}
                    &.block-2 {width: 26%;}
                    &.block-3 {width: 19%;}
                    &.block-4 {width: 9%;}
                    &.block-5 {width: 4%;}
                    &.block-filled {
                        background-color: $color-brand;
                    }
                }
            }
            .pillar-item__scale-descriptor {
                margin-top: 0.3rem;
                color: $color-text;
                font-size: $text-size-small;
                .missing-notif {
                    color: $color-warning;
                }
            }
        }
        .pillar-item__avatar {
            width: 80px;
            padding-bottom: 80px;
            background-size: cover;
            background-position: center;
            border-radius: 500px;
            &.panel-item__avatar--small {
                width: 40px;
                padding-bottom: 40px;
            }
        }
    }
    .team-member-section__link-holder {
        margin: 1rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-grey-light;
        .team-member-section__link {
            color: $color-brand;
        }
    }
}