.team-member-stats {
    @include simple-section;
    border-bottom: 1px solid $color-grey-light;
    display: grid;
    grid-auto-rows: auto;
    @include lg {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .team-member-stats__toggler {
        font-weight: 700;
        padding-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0.3rem;
            text-decoration: underline;
            color: $color-text;
            svg {
                padding-left: 0.3rem;
                height: 0.7rem;
                width: 0.7rem;
            }
        }
    }
    .team-member-stats__blurb {
        text-align: center;
        .team-member-stats__blurb__title {
            margin-bottom: 0;
            span {
                color: $color-warning;
            }
        }
        .team-member-stats__blurb__disclaimer {
            color: $color-text-light;
            font-size: $text-size-small;
        }
    }
    .team-member-stats__graphs {
        margin: 1rem 0;
        display: grid;
        grid-template-rows: auto auto;
        grid-gap: 1rem;
        @include md {
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
        }
        .graph-holder {
            border-radius: $border-radius;
            border: 1px solid $color-grey-light;
            box-shadow: $deep-shadow;
            padding: 1rem 1rem 0.5rem;
            .graph {
                border-radius: $border-radius;
                min-height: 100px;
                margin-bottom: 0.5rem;
                &.graph--skills {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-column-gap: 0.5rem;
                    .pillar {
                        display: grid;
                        grid-gap: 0.1rem;
                        .track {
                            background-color: $color-grey-light;
                            border-radius: $border-radius/2;
                            display: grid;
                            position: relative;
                            .score {
                                background-color:$color-brand;
                                border-radius: $border-radius/2;
                            }
                            .name {
                                position: absolute;
                                visibility: hidden;
                                background-color: white;
                                border-radius: $border-radius/2;
                                box-shadow: $deep-shadow;
                                padding: 0.3rem 0.5rem;
                                z-index: 2;
                                font-size: $text-size-small/1.4;
                                top: 1rem;
                                left: 0.5rem;
                                span {
                                    font-weight: 700;
                                }
                            }
                            &:hover .name {
                                visibility: visible;
                            }
                        }
                    }
                }
                &.graph--points {
                    display: grid;
                    grid-template-rows: auto 20px auto;
                    grid-template-areas:
                        "top"
                        "scale"
                        "bottom";
                    .points-holder {
                        grid-area: scale;
                        position: relative;
                        background-color: $color-grey-light;
                        border-radius: $border-radius;
                        display: grid;
                        .points {
                            position: absolute;
                            height: 100%;
                            border-radius: $border-radius;
                            .name {
                                background-color: white;
                                border-radius: $border-radius/2;
                                box-shadow: $deep-shadow;
                                padding: 0.3rem 0.5rem;
                                z-index: 2;
                                font-size: $text-size-small/1.4;
                                max-width: 100px;
                                display: relative;
                                span {
                                    font-weight: 700;
                                }
                            }
                            &.self {
                                background-color: $color-brand;
                                .name {
                                    border: 2px solid $color-brand;
                                    margin-top: -3rem;
                                }
                            }
                            &.current {
                                border-radius: 0;
                                border-right: 2px dotted white;

                            }
                            &.goal {
                                background-color: $color-warning;
                                .name {
                                    border: 2px solid $color-warning;
                                    margin-top: 1.3rem;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .title {
                text-align: center;
                font-size: $text-size;
                font-weight: 700;
            }
        }
    }
}