---
layout: base
---

{% assign instructions = site.data.instructions.records %}
{% assign information = site.data.information.records %}
{% assign skills = site.data.skills.records | sort: "fields.track-number" %}
{% assign tracks_n = site.data.tracks.records | sort: "fields.track-number" %}
{% assign levels = site.data.levels.records %}
{% assign team = site.data.team.records %}

{% assign skill_records = skills | group_by: "fields.pillar" | reverse %}



<div class="breadcrumb-section">
    <div class="breadcrumb-section__content">
        <a href="/skills" class="breadcrumb__content__link">{% include icon/back.html %} back to skills</a>
    </div>
</div>

<div class="skill-header-section hide-print">
    <div class="skill-header-section__content">
        <h1 class="skill-header__title title-{{page.pillar_name}}">{{page.title}}</h1>
        <p class="skill-header__description">{{page.description}}</p>
        <ul class="skill-header__links">
            {% for skill_track in skill_records %}
            {% if skill_track.name contains page.pillar_name %}
            {% assign track_names = skill_track.items | group_by: "fields.track-name" %}
            {% for track in track_names %}
            <li class="skill-header__link"><a class="link-{{page.pillar_name}}" href="#{{track.items[0].fields.track-number}}">{{track.name}}</a></li>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

{% for skill_track in skill_records %}
{% if skill_track.name contains page.pillar_name %}
{% assign track_names = skill_track.items | group_by: "fields.track-name" %}
{% for track in track_names %}


<div class="skill-section skill-section-{{page.pillar_name}}" id="{{track.items[0].fields.track-number}}">
    <div class="skill-track__header header-{{page.pillar_name}}">
        <h3 class="skill-track__title">{{track.name}}</h3>
        <p class="skill-track__description">{{track.items[0].fields.track-description}}</p>
    </div>
    <div class="skill-track__levels">
        {% assign track_items = track.items | sort: "fields.points" %}
        {% for track_level in track_items %}
        <div class="skill-track__level">
            <div class="skill-track__level__header">
                <p class="skill-track__level__description"><b>{{track_level.fields.name}}: </b>{{track_level.fields.description}}</p>
                <div class="skill-track__level__meta">
                    <div class="points-list__item nopad {{page.pillar_name}}">{% include icon/star.html class=page.pillar_name %}{{track_level.fields.points}}</div>
                    <button class="btn-text--light skill-track__level__reveal-button" onClick="toggle_visibility({{track_level.id}})">Show behaviours</button>
                </div>
            </div>
            <ul id="{{track_level.id}}" class="skill-track__reveal">
                {% if track_level.fields.behaviour-1 %}
                <li class="behaviour-{{page.pillar_name}}">
                    <p class="skill-track__reveal__item">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-1-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-1 }}
                    </p>
                </li>
                {% endif %}
                {% if track_level.fields.behaviour-2 %}
                <li class="behaviour-{{page.pillar_name}}">
                    <p class="skill-track__reveal__item">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-2-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-2 }}
                    </p>
                </li>
                {% endif %}
                {% if track_level.fields.behaviour-3 %}
                <li class="behaviour-{{page.pillar_name}}">
                    <p class="skill-track__reveal__item">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-3-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-3 }}
                    </p>
                </li>
                {% endif %}
                {% if track_level.fields.behaviour-4 %}
                <li class="behaviour-{{page.pillar_name}}">
                    <p class="skill-track__reveal__item">
                        {% for track_n in tracks_n %}{% if track_n.fields.name == track_level.fields.track-name %}<b>{{track_n.fields.behaviour-4-title}}: </b>{% endif %}{% endfor %}
                        {{track_level.fields.behaviour-4 }}
                    </p>
                </li>
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>
    {% endfor %}
    {% endif %}
    {% endfor %}